<style>
    .image {
  text-align: center;
}
body {
    background-color: #040b14;
}

</style>
<div class="image">
<img src="assets/img/email-sent.jpg" alt="email sent successfully" width="800" height="600">
</div>